html, body {
    padding: 0px;
    margin: 0px;
}

div.top_pane {
    width: 100%;
    height: 250px;
    padding: 0px;  
    padding-top: 50px;
    background: #065687;
}

h1.heading {
    text-align: center;
    padding: 0px;
    height: 100px;
    color: white;
    font-family: "Calibri";
    font-size: 46pt;
}

div.search_pane {
    display: block;
    width: 700px;
    font-family: "Calibri";
    font-size: 18pt;
    margin: auto;
    margin-top: 50px;
    text-align: center;

}

.search_pane input {
    margin: auto;
    width: 500px;
    height: 50px;
    font-size: 18pt;
    
} 

.search_pane .submit {
    margin: auto;
    width: 100px;
    border-radius: 10px;
    color: #FFFFFF;
    background: #065687;
}

#plive  {
    position: absolute;
    list-style: none;
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
    margin: auto;
    padding: 0;
    width: 499px;
}

.search_pane #livesearch {
    width: 500px;
    height: 80px;
    margin: auto;
    border-style: none !important;
}

.tools_pane {
    float: left;
    width: 15%;
    margin-top: 50px;
}

.tools_pane ul {
    list-style: none;
    width: 65%;
    height: 100px;
    margin-top:0;
    margin-left: 70px;
    border-left-style: solid;
    border-left-color: #757582;
    border-left-width: 5px;
    padding: 15px;
}
.tools_pane a {
    color: #757582;
    font-family: "Calibri";
}

.tools_pane h2 {
    color: #FFFFFF;
    margin-left: 70px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-family: "Calibri";
    background: #065687;
}
